* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

body {
    background-image: url('../resources/bg_body.jpg');
}

a {
    text-decoration: none;
}

.header {
    background-color: rgb(18, 196, 250);
    padding: 10px 15%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .icon {
    width: 20px;
}

.text-with-icon > *  {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#head-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}л

#head-wrapper > *:not(:last-child) {
    margin-right: 20px;
}

.account-nav {
    display: flex;
    flex-direction: row;
}

.account-nav > a {
    background-color: rgb(67, 83, 173);
    min-width: 70px;
    padding: 10px;
    display: block;
    transition: background-color 0.1s ease;
    text-align: center;
    border-radius: 5px;
}

.account-nav > a:hover {
    background-color: darkcyan;
}

.account-nav > a:not(:last-child) {
    margin-right: 5px;
}

.account-nav > p {
    margin-right: 10px;
    color: white;
    background-color: rgb(67, 83, 173);
    min-width: 70px;
    padding: 10px;
    display: block;
    transition: background-color 0.1s ease;
    text-align: center;
    border-radius: 5px;
}

#middle-nav {
    display: flex;
}

#middle-nav > a {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(67, 83, 173);
    min-width: 70px;
    padding: 10px;
    display: block;
    transition: background-color 0.1s ease;
    text-align: center;
    border-radius: 5px;
}

#middle-nav > a:hover {
    background-color: #FA1250;
}

#logo {
    height: 50px;
}

.lower input[type=text] {
    font-size: 14px;
    padding: 8px;    
    border: none;
    outline: 0;
}

.search-container {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; */
    white-space: nowrap;
}

.search-container button {
    color: white;
    background: rgb(67, 83, 173);
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
  
.search-container button:hover {
    background: rgba(85, 91, 110, 0.6);
}

header .icon.shop-basket {
    width: 25px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.upper.footer {
    background-color: rgb(18, 196, 250);
    padding: 45px 15%;
}

.lower.footer {
    text-align: center;
    padding: 10px 15%;
   background-color: rgb(9, 160, 206);
}

.bottom-nav {
    font-size: 14px;
}

.bottom-nav .title {
    font-weight: bold;
    font-size: 16px;
}

#side-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 10px;
}

#main-content {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 378px;
}

#genres {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

#genres > a {
    color: white;
    padding: 5px;
    background-color: rgb(67, 83, 173);
    border-radius: 10px;
}

#genres > a:not(:last-child) {
    margin-bottom: 5px;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 201, 236);
    border-radius: 10px;
    min-width: 50%;
}

.card > h3 {
    margin-bottom: 10px;
}

.card:not(:last-child) {
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card-body > img {
    object-fit: contain;
    max-height: 250px;
    width: 150px;
}

.brief-desc {
    padding: 10px;
}

.brief-desc > p:not(:last-child) {
    margin-bottom: 5px;
}

.brief-desc > a:not(:last-child) {
    margin-right: 10px;
}

.brief-desc > a {
    background-color: rgb(67, 83, 173);
    padding: 10px;
    float: left;
    border-radius: 10px;
    color: white;
}

.description {
    margin-top: 10px;
    max-width: 700px;
}

.description > p {
    text-indent: 20px;
    text-align: justify;
}

.login-form {
    margin-top: 50px;
    min-width: 300px;
}

.login-form > label {
    margin-bottom: 5px;
}

.login-form > button {
    color: white;
    outline: none;
    background: rgb(67, 83, 173);;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.login-form > button:hover {
    background: #FA1250;
}

.login-form input[type=text], .login-form input[type=password]  {
    font-size: 14px;
    padding: 8px;
    border: none;
    outline: 0;
}

@media (max-width: 560px) {
    #main-content {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    #head-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #head-wrapper > nav {
        flex-direction: column;
    }

    #head-wrapper > *:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
    }

    #head-wrapper > nav > a:not(:last-child) {
        margin-bottom: 5px;
    }

    #head-wrapper > nav > a {
        width: 200px;
    }
}

@media (max-width: 740px) {
    .coldir {
        flex-direction: column;
    }

    .account-nav {
        margin-top: 10px;
    }
}